*{
	margin:0;
	padding: 0;
	font-family: arial;
	max-width: 100%;
	max-height: 100%;
}

header{
	background: rgba(0,0,0,1);
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	
	box-shadow: 1px 1px 1px white;
}
header img{
	display: none;
	height: 50px;
}

header h1{
	color:white;

}

header ul{
	display: flex;

}
header ul li{
	color:white;
	list-style-type: none;
	padding:0.5rem;
}

section:nth-of-type(1){
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 8rem;
	padding-bottom: 8rem;
	background-image: url('../img/section1.jpg');
	background-size: cover;
	/*min-height: 438px; */
	background-repeat: no-repeat;
}

section:nth-of-type(1) div{
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.8);
	padding: 2.5rem;
	border-radius: 0.4rem;
	text-align: center;
	box-shadow: 2px 2px 2px black;

}

section:nth-of-type(1) h2{
	padding: 0.5rem;
	font-size: 3rem;
	text-shadow: 1px 1px 1px black;
	color:white;

}
section:nth-of-type(1) h3{
	padding: 0.5rem;
	font-size: 1.3rem;
	color: white;
	text-shadow: 1px 1px 1px black;
}

section:nth-of-type(2){
	display: flex;
	background: skyblue;
	justify-content: center;
	text-align: center;
	padding: 3rem;


}

section:nth-of-type(2) p{
	font-size: 3.5rem;
	text-align: center;
	padding: 0.5rem;
	text-transform: uppercase;
	color:white;
}

section:nth-of-type(2) p:nth-of-type(1){
	font-weight:bolder;
	color:black;
}


section:nth-of-type(3){
	display: flex;
	align-items: center;
	/*background: rgb(2,63,250);*/
	background-image: linear-gradient(-90deg, rgb(2,63,250), rgb(0,0,0));
	padding: 2rem;
}

section:nth-of-type(3) div:nth-of-type(1){


}
section:nth-of-type(3) div:nth-of-type(1) ul{
	display: flex;
	flex-wrap: wrap;

}

section:nth-of-type(3) div:nth-of-type(1) ul li{
	list-style-type: none;
	box-shadow: 2px 2px 2px 2px black;
	margin:1px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2.5rem;
	background: white;
	font-weight: bolder;
}


/*
section:nth-of-type(3) div:nth-of-type(1) ul li:hover{
	padding: 3rem;
	font-weight: bolder;
	font-size: 2rem;
}
*/
section:nth-of-type(3) div:nth-of-type(2){

}

section:nth-of-type(3) div:nth-of-type(2) img{
	

}

section:nth-of-type(4){

width: 100%;
background-image: url('../img/section4.jpg');
height: 200px;
background-size: cover;
padding:0;
margin:0;
display: flex;
justify-content: center;
align-items: center;

}



section:nth-of-type(4) div {
 background-color: white;
  color: black;
  font-size: 13rem; 
  font-weight: bold;
  margin: 0 auto;
  padding: 0px;
  text-align: center;


  
 
  /*transform: translate(-50%, -50%);*/
  mix-blend-mode: screen;
  width: calc(100% - 0px);


}


section:nth-of-type(5){
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
section:nth-of-type(5) div {
	display: flex;

}
section:nth-of-type(5) div:nth-of-type(1){
	display:flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

}

section:nth-of-type(5) div:nth-of-type(1) p{
	font-size: 2rem;
	text-align: center;
	padding:1rem;
	text-transform: uppercase;
	font-weight: bolder;
	
}

section:nth-of-type(5) div:nth-of-type(1) img{
	height: 100px;
}

section:nth-of-type(5) div:nth-of-type(2){
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

}
section:nth-of-type(5) div:nth-of-type(2) div:nth-of-type(1){
	display: flex;
	flex-wrap: wrap;
}

section:nth-of-type(5) div:nth-of-type(2) div:nth-of-type(2){
	display: flex;
	flex-wrap: wrap;

}

section:nth-of-type(5) div:nth-of-type(2) div:nth-of-type(1) img{
	height: 180px;
}





@media (max-width: 732px) {

	header{
		background: black;
		justify-content: space-between;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		width: calc(100% - 3rem);
	}
	header h1{
		font-size: 1.5rem;
	}

	header img{
		display: initial;
	}

	section:nth-of-type(1){
		padding-top: 4rem;
		padding-bottom: 4rem;

	}

	section:nth-of-type(1) div{
		width: 80%;
	}

	section:nth-of-type(1) div h2{
		font-size: 2rem;

	}
	header ul{
		display: none;
	}
	section:nth-of-type(1){

	}
	section:nth-of-type(2) p{
		font-size: 1.4rem;
	}

	section:nth-of-type(3){
		flex-wrap: wrap;

	}

	section:nth-of-type(3) div:nth-of-type(1){
		justify-content: center;
	}

	section:nth-of-type(3) div:nth-of-type(1) ul{
		justify-content: center;
		
	}
	section:nth-of-type(3) div:nth-of-type(1) ul li{
		width: calc(50% - 5rem - 2px);
	}


	section:nth-of-type(4) div{
		font-size: 9rem;
		height: 100%;

	}





















	}




